*
!default_football.jpeg
!default_volleyball.jpg
!default_basketball.png
!user-default-avatar.png
!default_tennis.jpeg
!default_table_tennis.jpg
!default_running.jpg
!default_hockey.png
!default_skating.jpg
!default_skiing.png
